# SETS

### Creating a SET

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

thatset = {"apple", "banana", "cherry", "apple"}
print(thatset)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple'}

### Loop through set

In [3]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

### Is a word in the SET?

In [4]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

### Add an item to a set

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

### Add multiple items to a SET

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'cherry', 'apple', 'grapes', 'orange', 'mango', 'banana'}

### Remove "banana"

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [7]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

### Remove the last item in a SET and SAVE it to another variable

In [2]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

#In theory without pop we would have written ... (code below does not work with sets)
#x = thisset[-1]
#thisset.remove(x)
#print(thisset)

banana
{'cherry', 'apple'}

### Clear a SET

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

### UNION two SETS together

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a"}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'a', 'c'}

### The update() method inserts the items in set2 into set1:

In [8]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a", "d"}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'd', 'a', 'b'}

In [5]:
### Create a SET from a TUPLE

In [7]:
# Covert Tuple to set (two steps)
fruitTuple = ("apple", "banana", "cherry")
thisset = set(fruitTuple)

# Covert Tuple to set (one step)
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}