# Now you try - Variables, Data Types and Conditional Flow

## Now you try 1 - Variables

In [1]:
print('Hello World!')

Hello World!

In [1]:
print('Chun Da Koh')

Chun Da Koh

**Follow the instruction to**
- Add a new cell
- Record your name
- Print out your name

In [2]:
# Create an variable named score1 and assign value 20 to it. Print it out 
score1 = 20 
print(score1)

20

In [3]:
# assign 50 to score1 and print it out. What did you get and why?
score1 = 50
print(score1)
# update the new value

50

In [5]:
# try to print out Score1. What do you get and why?
print(Score1)
# Case sensitive

NameError: name 'Score1' is not defined

## Now you try 2 - Operators and Expressions

In [6]:
# Get the remainder of number 877759 divided by 23. Print it out
print(877759%23)

10

In [12]:
# write a statement to assign the result of adding 5 to 2 to the power of 3 and divide 
# the addition result by 7 to variable x. Print out the result
x=(5+2**3)/7
print(x)

1.8571428571428572

In [9]:
# Divide 10 by 3 using both regular division and floor division. 
# Print out the result and note the difference
print(10/3)
print(10//3)

3.3333333333333335
3

## Now you try 3 - Data Types

In [7]:
# Execute this code cell and think about what you get
print('1 + 1 =', 1 + 1)
print("'1' +'1' =", '1' +'1')
print('11 > 2 is', 11 > 2)
print('"11" > "2" is', "11" > "2")
print("1" * "2")

In [14]:
# Create a variable my_int with value 10, a variable my_float with value 5.46
my_int = 10
my_float = 5.46

In [15]:
# print out the data type of these two variables
print(type(my_int))
print(type(my_float))

<class 'int'>
<class 'float'>

In [17]:
# Create a variable my_bool. Assign the value of whether my_int is greater than 9. Print it
my_bool = my_int > 9
print(my_bool)

True

In [18]:
# Create a string variable named my_str with value 'IU'. Print it
my_str = "IU"
print(my_str)

IU

In [19]:
# Add 5 to my_int 
my_int + 5

15

In [22]:
# Add '47405' to my_str. What do you get?
my_str + '47405'

'IU47405'

In [21]:
# Add my_int to my_str. What do you get?
my_int + my_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# Convert my_int to float using float(). Do you see the difference?

In [16]:
# Convert my_int to string using str()

In [17]:
# Convert my_str to int using int(). What do you get?

In [18]:
# Convert my_float to int using int(). Can you succeed? Do you lose anything?
# Should you do it?

In [2]:
# Execute the code 
name = input('What is your name? ')
print('Hello ', name)

What is your name? John
Hello John

In [19]:
# use input() function ask for age.
# convert the value to be an integer and print it out

In [20]:
# Execute the line of code. What do you get? Can you fix it?
print('a)

## Now You Try 4 - Logical Expressions

In [ ]:
# Check out the comparison operators
x = 12
y = 3.7
# print out the values of x > y, x < y, x != y and x == y

In [ ]:
# execute the following to see the error message. Why?
5 = 2

## Now You Try 5 - if statement syntax

In [ ]:
# This is an example of how to write a if statement. study it 
# and execute the code below. Do you get what you expect?
# now set y = 12 and execute the code again.
if x == y:
    print('x equals to y')
else:
    print('x does not equal to y')

In [ ]:
# Now execute the following code. What error did you get?
# Can you fix it?
if x == y:
print('x equals to y')
else:
print('x does not equal to y')

In [ ]:
# Now execute the following code. What error did you get?
# Can you fix it?
if x == y
    print('x equals to y')
else:
    print('x does not equal to y')

## Now You Try 6 - Simple if statement

In [ ]:
# Ask "What time is it now?" using input(). Convert it to integer using int()
# save the result to a variable time. Write a if statement. Check:
# if time is less than 18, print out first 'Good day!'. Then print out 'Several more hours to go'
# Otherwise, print out first 'Good evening!'. Then print out 'Relax now'
# Print out "Goodbye" no matter what time it is.

## Now You Try 7 - Use if-elif-else statement

In [21]:
# Write code to convert point grade to letter grade with the rules:
# If not less than 90, “A”
# Otherwise, if not less than 80, display “B”
# Otherwise, if not less than 70, display “C”
# Otherwise, if not less than 60, display “D”
# Otherwise, display “F”

## Now You Try 8 - Complex Logical Expression

In [1]:
salary = 40000
years_on_job = 1.5
if salary >= 30000:
    if years_on_job >= 2:
        print("Qualified for the loan")
    else:
        print("You need to work longer")
else:
    print("You need to make more money")

You need to work longer

In [2]:
if salary < 30000:
    print("You need to make more money")
elif years_on_job >= 2:
    print("Qualified for the loan")
else:
    print("You need to work longer")

You need to work longer

In [22]:
# Rewrite the above if statement using logical operators 'and', 'or', 'not' 
# to for complex logical expressions

In [23]:
print(type(4.4))

<class 'float'>